.dropdown {
  position: relative;
  display: inline-block;
  align-content: center;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  padding-top: 25px;
  right: 0;
  background-color: transparent;
  width: 225px;
}

.dropdown-menu li {
  color: black;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-menu li:hover {
  display: block;
  background-color: black;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: white;
  width: auto;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  position: inherit;
}
