.navbar {
  position: relative;
  background: transparent;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-top: 40px;
}

.nav-side-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 100px;
  width: auto;
  justify-content: center;
  margin-right: 35px;
}
/*
.nav-items {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: rgb(130, 129, 129);
  text-decoration: none;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  font-family: "Bebas Kai", sans-serif;
}

.nav-links:hover {
  background-color: rgb(10, 10, 10);
  border-radius: 5px;
  color: white;
} */
